<%- include('header') -%>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 nav-header">
            <img src="/images/boy.jpg" class="user-profile-pic mt-2">
            <span class="text-light ml-3"><b>User</b></span>
        </div>
        <div class="col-md-8 nav-header">
            <img src="/images/girl.jpg" class="user-profile-pic mt-2">
            <span class="text-light ml-3"><b>Ramona</b></span>
        </div>

        <div class="col-md-1 nav-header">
            <a href="/logout" class="btn btn-sm bg-danger mt-3"><b>Logout</b></a>
        </div>
        <div class="col-md-3 threads-section">
            <!-- <div class="container"> -->
                <ul class="threads-ul">
                    <li><img src="/images/boy.jpg" class="user-profile-pic">
                        <a href="#">Ricki Ponting</a>
                        <small class="ml-2 text-right text-light">22:00PM</small>
                        <span class="ml-1 badge badge-light">3</span>
                    </li>

                  

                    <li><img src="/images/boy.jpg" class="user-profile-pic">
                        <a href="#">Sunil</a>
                        <small class="ml-2 text-right text-light">22:00PM</small>
                        <span class="ml-1 badge badge-light">2</span>
                    </li>

                    

                    <li><img src="/images/boy.jpg" class="user-profile-pic">
                        <a href="#">Aadi0204</a>
                        <small class="ml-2 text-right text-light">22:00PM</small>
                        <span class="ml-1 badge badge-light">9</span>
                    </li>




                    <li><img src="/images/girl.jpg" class="user-profile-pic">
                        <a href="#">Alisa</a>
                        <small class="ml-2 text-right text-light">22:00PM</small>
                        <span class="ml-1 badge badge-light">2</span>
                    </li>

                    <li><img src="/images/boy.jpg" class="user-profile-pic">
                        <a href="#">Aadi0204</a>
                        <small class="ml-2 text-right text-light">22:00PM</small>
                        <span class="ml-1 badge badge-light">9</span>
                    </li>






                    <li><img src="/images/girl.jpg" class="user-profile-pic">
                        <a href="#">Tripti</a>
                        <small class="ml-2 text-right text-light">22:00PM</small>
                        <span class="ml-1 badge badge-light">2</span>
                    </li>

                    <li><img src="/images/boy.jpg" class="user-profile-pic">
                        <a href="#">Aadi0204</a>
                        <small class="ml-2 text-right text-light">22:00PM</small>
                        <span class="ml-1 badge badge-light">9</span>
                    </li>





                    <li><img src="/images/boy.jpg" class="user-profile-pic">
                        <a href="#">Sunil</a>
                        <small class="ml-2 text-right text-light">22:00PM</small>
                        <span class="ml-1 badge badge-light">2</span>
                    </li>

                    <li><img src="/images/boy.jpg" class="user-profile-pic">
                        <a href="#">Aadi0204</a>
                        <small class="ml-2 text-right text-light">22:00PM</small>
                        <span class="ml-1 badge badge-light">9</span>
                    </li>

                </ul>
            <!-- </div> -->
        </div>

        <div class="col-md-9 chats-section text-light">
            <div class="row">
                <!-- chat-messages -->
                <div class="col-md-8">
                   <div class="container sender">
                        <div class="row">
                            <div class="col-md-2 pt-2">
                                <img src="/images/boy.jpg" class="user-profile-pic">
                                <span class="ml-1"><b>Alex</b></span>
                                <span class="chat-timing">12:20PM</span>
                            </div>

                            <div class="col-md-10 chat-content">
                                <p class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam doloremque atque eligendi odio quas cumque dicta modi earum, non perferendis sequi vel nostrum enim autem qui ducimus, labore obcaecati.</p>
                            </div>
                        </div>
                   </div>
                </div>

                <div class="col-md-8 ml-auto">
                    <div class="container reciever">
                         <div class="row">
                             <div class="col-md-2 pt-2">
                                 <img src="/images/girl.jpg" class="user-profile-pic">
                                 <span class="ml-1"><b>Jahnvi</b></span>
                                 <span class="chat-timing">12:20PM</span>
                             </div>
 
                             <div class="col-md-10 chat-content">
                                 <p class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam doloremque atque eligendi odio quas cumque dicta modi earum, non perferendis sequi vel nostrum enim autem qui ducimus, labore obcaecati.</p>
                             </div>
                         </div>
                    </div>
                 </div>





                 <div class="col-md-8">
                    <div class="container sender">
                         <div class="row">
                             <div class="col-md-2 pt-2">
                                 <img src="/images/boy.jpg" class="user-profile-pic">
                                 <span class="ml-1"><b>Alex</b></span>
                                 <span class="chat-timing">12:20PM</span>
                             </div>
 
                             <div class="col-md-10 chat-content">
                                 <p class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam doloremque atque eligendi odio quas cumque dicta modi earum, non perferendis sequi vel nostrum enim autem qui ducimus, labore obcaecati.</p>
                             </div>
                         </div>
                    </div>
                 </div>
 
                 <div class="col-md-8 ml-auto">
                     <div class="container reciever">
                          <div class="row">
                              <div class="col-md-2 pt-2">
                                  <img src="/images/girl.jpg" class="user-profile-pic">
                                  <span class="ml-1"><b>Jahnvi</b></span>
                                  <span class="chat-timing">12:20PM</span>
                              </div>
  
                              <div class="col-md-10 chat-content">
                                  <p class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam doloremque atque eligendi odio quas cumque dicta modi earum, non perferendis sequi vel nostrum enim autem qui ducimus, labore obcaecati.</p>
                              </div>
                          </div>
                     </div>
                  </div>





                  <div class="col-md-8">
                    <div class="container sender">
                         <div class="row">
                             <div class="col-md-2 pt-2">
                                 <img src="/images/boy.jpg" class="user-profile-pic">
                                 <span class="ml-1"><b>Alex</b></span>
                                 <span class="chat-timing">12:20PM</span>
                             </div>
 
                             <div class="col-md-10 chat-content">
                                 <p class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam doloremque atque eligendi odio quas cumque dicta modi earum, non perferendis sequi vel nostrum enim autem qui ducimus, labore obcaecati.</p>
                             </div>
                         </div>
                    </div>
                 </div>
 
                 <div class="col-md-8 ml-auto">
                     <div class="container reciever">
                          <div class="row">
                              <div class="col-md-2 pt-2">
                                  <img src="/images/girl.jpg" class="user-profile-pic">
                                  <span class="ml-1"><b>Jahnvi</b></span>
                                  <span class="chat-timing">12:20PM</span>
                              </div>
  
                              <div class="col-md-10 chat-content">
                                  <p class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam doloremque atque eligendi odio quas cumque dicta modi earum, non perferendis sequi vel nostrum enim autem qui ducimus, labore obcaecati.</p>
                              </div>
                          </div>
                     </div>
                  </div>








                  <div class="col-md-8">
                    <div class="container sender">
                         <div class="row">
                             <div class="col-md-2 pt-2">
                                 <img src="/images/boy.jpg" class="user-profile-pic">
                                 <span class="ml-1"><b>Alex</b></span>
                                 <span class="chat-timing">12:20PM</span>
                             </div>
 
                             <div class="col-md-10 chat-content">
                                 <p class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam doloremque atque eligendi odio quas cumque dicta modi earum, non perferendis sequi vel nostrum enim autem qui ducimus, labore obcaecati.</p>
                             </div>
                         </div>
                    </div>
                 </div>
 
                 <div class="col-md-8 ml-auto">
                     <div class="container reciever">
                          <div class="row">
                              <div class="col-md-2 pt-2">
                                  <img src="/images/girl.jpg" class="user-profile-pic">
                                  <span class="ml-1"><b>Jahnvi</b></span>
                                  <span class="chat-timing">12:20PM</span>
                              </div>
  
                              <div class="col-md-10 chat-content">
                                  <p class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam doloremque atque eligendi odio quas cumque dicta modi earum, non perferendis sequi vel nostrum enim autem qui ducimus, labore obcaecati.</p>
                              </div>
                          </div>
                     </div>
                  </div>








                  <div class="col-md-8">
                    <div class="container sender">
                         <div class="row">
                             <div class="col-md-2 pt-2">
                                 <img src="/images/boy.jpg" class="user-profile-pic">
                                 <span class="ml-1"><b>Alex</b></span>
                                 <span class="chat-timing">12:20PM</span>
                             </div>
 
                             <div class="col-md-10 chat-content">
                                 <p class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam doloremque atque eligendi odio quas cumque dicta modi earum, non perferendis sequi vel nostrum enim autem qui ducimus, labore obcaecati.</p>
                             </div>
                         </div>
                    </div>
                 </div>
 
                 <div class="col-md-8 ml-auto">
                     <div class="container reciever">
                          <div class="row">
                              <div class="col-md-2 pt-2">
                                  <img src="/images/girl.jpg" class="user-profile-pic">
                                  <span class="ml-1"><b>Jahnvi</b></span>
                                  <span class="chat-timing">12:20PM</span>
                              </div>
  
                              <div class="col-md-10 chat-content">
                                  <p class="pl-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam doloremque atque eligendi odio quas cumque dicta modi earum, non perferendis sequi vel nostrum enim autem qui ducimus, labore obcaecati.</p>
                              </div>
                          </div>
                     </div>
                  </div>
                <!--chat messages end-->
            </div>
        </div>
        <!-- testing -->
        <div class="container">
            <form action="#" method="POST">
                <div class="col-md-9 ml-auto form-group sentmsg-box">
                    <input type="text" class="form-control sentmsg" placeholder="Type your message...">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../assets/js/script.js"></script>
